Source: joystickwake
Section: x11
Priority: optional
Maintainer: Forest <forestix@sonic.net>
Homepage: https://github.com/foresto/joystickwake
Standards-Version: 4.6.2
Build-Depends: debhelper (>= 10), dh-python, python3,
 python3-docutils | python-docutils

Package: joystickwake
Architecture: all
Depends: ${python3:Depends}, ${misc:Depends}, python3-pyudev
Recommends: python3-dbus-next, python3-xlib
Description: joystick-aware screen waker
 Suppresses screen blankers while game controllers are in use.
 Supports most popular screen savers by default, and can be configured
 with custom commands to support others.
